body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg ,orange,#9b59b6);
}

.Container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    
}

#fullname_dsp{
    border: none;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.child1,
.child2,
.child3
.child4{
    display: grid;
    gap: 10px;
}

h1 {
    text-align: center;
    color: #333;
}
.Container2 {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  
}



label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.Container3 {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    

}



label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    
}
.btn button{
    height: 40px;
    width: 100px;
}













/* templet*/

.container8 {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #333;
}

h2 {
    margin-top: 20px;
}

.section {
    margin-bottom: 30px;
}

.section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

.section ul {
    list-style-type: none;
    padding: 0;
}

.section li {
    margin-bottom: 10px;
}

.section li strong {
    display: inline-block;
    width: 150px;
}

.section p {
    margin: 0;
}

.skills2 {
    column-count: 2;
}

.skills2 li {
    display: block;
    margin-bottom: 5px;
}



@media print {
    body {
      visibility: hidden;
    }
    .container8 {
      visibility: visible;
     
     
    }
  }